<h2 id="rank-top"><%= @league.name %>'s Ranks </h2> 


<%= render partial: "positions/filter", :locals => {:controller => "leagues", :action => "show"} %>


	<nav class="stat-select">
		<ul class="stat-list">
			<li id="proj-ranks"><a href="#" class="rank-link">Projections</a></li>
			<li id="stat-ranks"><a href="#" class="rank-link">Statistics</a></li>
		</ul>
	</nav>

	<section id="rank-table">

	<div id="projection-table" class="rank-display">
	<table class="stats-display tablesorter">
		<%= display_header(League.headers) %>
		<tbody>
		<% @proj_vorp_seasons.each do |val| %>
			<% player = Player.find(val[:player_id]) %>
			<% val.delete(:player_id) %>
			<% next if val.empty? %>
			<% name = player.name.split(" ").map {|f_l| f_l.upcase}.join(" ") %>
			<% ranks = [name] + @league.row(val).map {|n| n.round(3)} %>
			<%= display_row(ranks) %>
		<% end %>
		</tbody>
	</table>
	</div>
	
	<div id="stats-table" class="rank-display hidden">
	<table class="stats-display tablesorter">
		<%= display_header(League.headers) %>
		<tbody>
		<% @live_vorp_seasons.each do |val| %>
			<% player = Player.find(val[:player_id]) %>
			<% val.delete(:player_id) %>
			<% next if val.empty? %>
			<% name = player.name.split(" ").map {|f_l| f_l.upcase}.join(" ") %>
			<% ranks = [name] + @league.row(val).map {|n| n.round(3)} %>
			<%= display_row(ranks) %>
		<% end %>
		</tbody>
	</table>
	</div>

	</section>

<script type="text/javascript">

	$(function() {
  	$(".stats-display").tablesorter({
  		sortInitialOrder: "desc"
  	})
  });

	$('#proj-ranks').click(function() {
		console.log("commencing toggling");
		$('.rank-display').addClass('hidden');
		$('#projection-table').removeClass('hidden');
		$('.stat-list li').removeClass('bold-class');
		$('#proj-ranks').addClass('bold-class');
	});

	$('#stat-ranks').click(function() {
		console.log("commencing toggling");
		$('.rank-display').addClass('hidden');
		$('#stats-table').removeClass('hidden');
		$('.stat-list li').removeClass('bold-class');
		$('#stat-ranks').addClass('bold-class');
	});

</script>
