<nav class="pos-select">
	<ul id="pos-list">
		<li>Filter by pos: </li>
		<li><%= link_to "All", {:controller => controller, :action => "index"} %></li>
		<li><%= link_to "C", {:controller => controller, :action => action, :pos => 2} %></li>
		<li><%= link_to "1B", {:controller => controller, :action => action, :pos => 3} %></li>
		<li><%= link_to "2B", {:controller => controller, :action => action, :pos => 4} %></li>		
		<li><%= link_to "SS", {:controller => controller, :action => action, :pos => 6} %></li>
		<li><%= link_to "3B", {:controller => controller, :action => action, :pos => 5} %></li>
		<li><%= link_to "LF", {:controller => controller, :action => action, :pos => 7} %></li>
		<li><%= link_to "CF", {:controller => controller, :action => action, :pos => 8} %></li>
		<li><%= link_to "RF", {:controller => controller, :action => action, :pos => 9} %></li>
		<li><%= link_to "DH", {:controller => controller, :action => action, :pos => 10} %></li>
	</ul>
</nav>